/* header */
/* ----------------------------------------------------------*/

.brand {
	color: #cbcbe2 !important;
	font-size: 22px;
	font-weight: 400;
	border-radius: 4px;
	padding: 0px 10px;
	border: 1px solid;
}

.bd-navbar{min-height:4rem;background-color:#303040;box-shadow:0 .5rem 1rem rgba(0,0,0,.05),inset 0 -1px 0 rgba(0,0,0,.1)}

@media (max-width:991.98px){
	.bd-navbar{padding-right:.5rem;padding-left:.5rem}
	.bd-navbar .navbar-nav-scroll{max-width:100%;height:2.5rem;margin-top:.25rem;font-size:.875rem}
/* 	.bd-navbar .navbar-nav-scroll{max-width:100%;height:2.5rem;margin-top:.25rem;overflow:hidden;font-size:.875rem} */
/* 	.bd-navbar .navbar-nav-scroll .navbar-nav{padding-bottom:2rem;overflow-x:auto;white-space:nowrap;-webkit-overflow-scrolling:touch} */
}

@media (min-width:768px){
	@supports ((position:-webkit-sticky) or (position:sticky)){
		.bd-navbar{position:-webkit-sticky;position:sticky;top:0;z-index:1071}
	}
}

.navbar-brand {outline:none}

.bd-navbar .navbar-nav .nav-link{padding-right:.5rem;padding-left:.5rem;color:#cbcbe2;outline:none}

.bd-navbar .navbar-nav .nav-link.active,.bd-navbar .navbar-nav .nav-link:hover{color:#fff;background-color:transparent}

.bd-navbar .navbar-nav .nav-link.active{font-weight:400}

.bd-navbar .navbar-nav-svg{display:inline-block;width:1rem;height:1rem;vertical-align:text-top}

.bd-navbar .dropdown-menu{z-index:1100;font-size:.875rem}

.bd-navbar .dropdown-item.active{font-weight:500;color:#212529;background-color:transparent;background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23292b2c' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");background-repeat:no-repeat;background-position:.4rem .6rem;background-size:.75rem .75rem}


/* side bar */
/* ----------------------------------------------------------*/

.side-bar {
	-ms-flex-order: 0;
	order: 0;
	border-bottom: 1px solid rgba(0,0,0,.1);
	background-color: #f8f9fa;
}
@supports ((position:-webkit-sticky) or (position:sticky)) {
	.side-bar{
		position: -webkit-sticky;
		position: sticky;
		z-index: 1000;
		top: 0;
	}
}
@media (min-width:768px) {
	.side-bar {
		border-right: 1px solid rgba(0,0,0,.1);
	}
	@supports ((position:-webkit-sticky) or (position:sticky)) {
		.side-bar{
			top: 4rem;
			height: calc(100vh - 4rem);
		}
	}
	#time .side-bar {width: 6em}
	#cv .side-bar {width: 11em}
	#pub .side-bar {width: 11em}
	#pub main {max-width: calc(100vw - 11em)}
/* 	viewport minus sidebar width */
/* 	needed because col-md does not work when containing a pre (for citations) */
	#pub main.no-side {max-width: calc(100vw)}
/* 	same but withour sidebar */
}

.side-bar nav {
	padding-top: .2rem;
	padding-bottom: .2rem;
	margin-right: -15px;
	margin-left: -15px;
}
@media (min-width:768px) {
	.side-bar nav {
		padding-top: 1rem;
		padding-bottom: 1rem;
		display:block!important;
	}
	@supports ((position:-webkit-sticky) or (position:sticky)) {
		.side-bar nav {
			max-height: calc(100vh - 4rem);
			overflow-y: auto;
		}
	}
}

.toc {
	font-weight: 400;
}

.toc-item {
	margin-bottom: .5rem;
}
.toc-item:not(:first-child) {
	margin-top: .5rem;
}
.toc-item > a {
	display: block;
	margin: 0 1.5rem;
	font-weight: 400;
}
.toc-item > a:link, .toc-item > a:visited {
	color: rgba(0,0,0,.65);
	text-decoration: none;
	outline: none;
}
.toc-item > a:hover {
	color: rgba(0,0,0,.85);
}

.side-nav {
	padding: 0 .5rem;
	white-space: nowrap;
	justify-content: center;
}
@media (min-width:768px) {
	.side-nav {
		justify-content: flex-start;
	}
}
.side-nav a {
	padding: .1rem .2em;
	border-radius: 4px;
}
@media (min-width:768px) {
	.side-nav a {
		padding: .2rem .4em;
	}
}
.side-nav a:link, .side-nav a:visited {
	color: rgba(0,0,0,.65);
	text-decoration: none;
	outline: none;
}
.side-nav a:hover {
	color: rgba(0,0,0,.85);
}
.side-nav a.active, .side-nav a.active:hover {
/* 	font-weight: 400; */
	color: rgba(0,0,0,1);
	background-color: rgba(0,0,0,.1);
}
#cv .side-nav a {
	padding: .2rem .4em;
}
#pub .side-nav a {
	font-size: 90%;
	text-align: center;
}
#time .side-nav a {
	font-size: 90%;
}
#pub .side-nav a.sm, #time .side-nav a.sm {
	font-size: 80%;
}
@media (min-width:768px) {
	#pub .side-nav {
		padding: 0 1.3rem;
	}
	#pub .side-nav a {
		width: 4em;
		padding: .2rem 0;
	}
	#time .side-nav {
		padding: 0 1rem;
	}
	#time .side-nav a {
		font-size: inherit;
	}
}


/* clipboard */
/* ----------------------------------------------------------*/

.highlight{padding:0.6rem;margin-top:0.6rem;margin-bottom:0.6rem;background-color:#f8f9fa;-ms-overflow-style:-ms-autohiding-scrollbar}

.highlight pre{padding:0;margin-top:0;margin-bottom:0;background-color:transparent;border:0}

.highlight pre code{font-size:inherit;color:#212529}

.bd-clipboard{position:relative;display:none;float:right}

@media (min-width:768px){
	.bd-clipboard{display:block}
}

.btn-clipboard{position:absolute;top:.7rem;right:.5rem;z-index:10;display:block;padding:.25rem .5rem;font-size:75%;color:#818a91;cursor:pointer;background-color:transparent;border:0;border-radius:.25rem}

.btn-clipboard:hover{color:#fff;background-color:#027de7}


/* footer */
/* ----------------------------------------------------------*/

.bd-footer {
	font-size:85%;
	text-align:center;
	background-color:#878681
}
.bd-footer p {
	margin-bottom: .8em;
}
@media (min-width:576px){
	.bd-footer {text-align:left}
	.bd-footer p {margin-bottom:0}
}
.bd-footer a {
	color: #eee;
	outline: none;
}
.bd-footer a:focus,.bd-footer a:hover {
	color: white;
}


/* body */
/* ----------------------------------------------------------*/

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	margin: 0;
	padding: 0;
	font-size: 16px;
	position: relative;
}
.dense {
	font-family: 'Roboto Condensed', sans-serif;
}
.strong {
	font-weight: 700;
}
h1 {
	color: #8C1515;
	font-size: 26px;
	font-weight: 300;
}
h2 {
	font-size: 22px;
	font-weight: 300;
}
p {
	margin-top: .2em;
	margin-bottom: .4em;
}
.rule {
	border-bottom: 1px solid #CCC;
}
.fluid {
	width: 100%;
}
.sec {
	width: 100%;
	padding: 30px;
}
.sec-cont {
	width: 100%;
	padding: 10px 30px 30px 30px;
}
@media (max-width:575.98px){
	.sec {padding: 30px 15px}
	.sec-cont {padding: 10px 15px 30px 15px}
}
.high {
	background-color: #f7f6f1;
}
.sep {
	margin-top: 10px;
	margin-bottom: 10px;
}
a:link {
	outline: none;
}
main a:hover {
	text-decoration: none;
	border-bottom: 1px dotted;
}
.shy {
	opacity: .6;
	font-size: 80%;
	text-transform: uppercase;
}
.lnk:link, .lnk:visited, .shy:link, .shy:visited {
	text-decoration: none;
	border-bottom: none;
}
.dim:link, .dim:visited, .shy:link, .shy:visited {
	color: inherit;
}
.shy:hover {
	opacity: .9;
}
.dim:hover {
	opacity: .7;
}
.ref {
	opacity: .7;
}
.p {
	margin-top: .4em;
}
.alert.warn {
	background-color: rgba(140,21,21,.05);
	border: 1px solid rgba(140,21,21,.1);
	border-radius: 0;
}
.alert.warn h2 {
	color: #8C1515;
}
.alrt {
	color: #8C1515;
}
.struct {
	color: #8C1515;
	font-weight: 400;
}


/* display/layout */
/* ----------------------------------------------------------*/

.show-sm {display: none;}
@media (min-width:576px){
	.show-sm {display:inherit}
}
.hide-sm {display: inherit;}
@media (min-width:576px){
	.hide-sm {display:none}
}
.show-md {display: none;}
@media (min-width:768px) {
	.show-md {display: inherit;}
}
.hide-md {display: inherit;}
@media (min-width:768px) {
	.hide-md {display: none;}
}
@media (max-width:767.98px){
	.container {max-width:100%}
}


/* align */
/* ----------------------------------------------------------*/

.anchor {
	display: block;
	position: relative;
	visibility: hidden;
	top: -80px;
}
h1 .anchor, h2 .anchor {
	top: -100px;
}
.bottom-pad {
	padding-bottom: 30px;
}
.ver-pad {
	padding-top: 30px;
	padding-bottom: 30px;
}
.just {
	text-align: left;
}
@media (min-width:576px){
	.just {text-align: justify;}
}
.rel {
	position: relative;
}
.square {
	width: 100%;
	height: auto;
}
.fill, .over {
	width: 100%;
	height: 100%;
}
.over {
	position: absolute;
	top: 0;
	left: 0;
}
.bottom {
	position: absolute;
	bottom: 0;
	left: 0;
}
.screen {
	opacity: 0;
	background-color: rgba(0,0,0,.7);
}
.screen:hover {
	opacity: 1;
}
.mr {
	margin-right: .5em;
}
.mr2 {
	margin-right: .3em;
}
.ml-gs {
	margin-left: -.5em;
}
.ml-ss {
	margin-left: -.6em;
}
.nw {
	white-space: nowrap;
}

/* symbols/icons */
/* ----------------------------------------------------------*/

.icon-in {
	margin-left: .4em;
	margin-right: .4em;
}
.icon {
	display: inline-block;
	text-align: center;
	width: 1em;
	margin-right: 0em;
}
.desc-md {
	margin-left: .6em;
	display: none;
}
@media (min-width:768px) {
	.desc-md {display: initial}
}
.bull {
	background-color: rgba(0,0,0,.45);
	border-radius: 50%;
	display: inline-block;
	height: .30em;
	width: .30em;
	margin: 0 .4em .15em .4em;
}
.bd-footer .bull {
	background-color: #8C1515;
	opacity: .5;
}
a .fa-file-pdf2 {
	color: #b00000;
	font-size: 1.3em;
	margin-bottom: -.2em;
}
a:hover .fa-file-pdf2 {
	color: #ff2020;
}
a.ext {
	color: #906090;
}
a.ext:hover {
	color: #603060;
}
.left-60 {
	font-size: .6em;
	position: absolute;
 	left: -1.5em;
	margin-top: .8em;
}
.shy .left-60 {
	margin-top: 1.2em;
}
.toggle:link, .toggle:visited {
	color: #365;
	text-decoration: none;
	border-bottom: none;
}
.toggle:hover {
	color: #143;
}
.toggle .tog {
	transition: .3s transform ease-in-out;
}
.toggle.collapsed .tog {
	transform: rotate(-90deg);
}
.key {
	width: 2.5em;
	text-align: center;
	padding-right: .5em;
}
.val {
	padding-left: 0;
}
.key.lg {
	font-size: 1.2em;
}
.val.lg {
	padding-top: .2em;
}
.sf {
	position: relative;
	bottom: .1rem;
}
img.sf {
	height: 1rem;
}


/* home */
/* ----------------------------------------------------------*/

.home-head {
	background-color: #878681;
}
.home-photo {
	padding: 10px 30px;
	max-width: 300px;
}
.home-title {
	font-weight: 300;
}
.home-title p {
	margin: .2rem 0;
}
.bright {
	color: white;
}
a.bright {
	color: #eee;
	outline: none;
}
a.bright:hover {
	color: white;
	text-decoration: none;
}
.mono {
	font-size: 90%;
	font-family: monospace;
}
.home-name {
	font-size: 32px;
}
.home-affil {
	font-size: 18px;
}
.home-role {
	font-variant: small-caps;
}
.home-org {
	font-style: italic;
}
@media (min-width:768px) {
	.home-name {font-size: 40px;}
	.home-affil {font-size: 20px;}
}
h1.home {
	margin-top: 10px;
	margin-bottom: 20px;
}
.news-row {
	padding: 5px 0;
}
@media (min-width:576px) {
	.news-row {padding: 2px 0}
}
.news-date { width: 6em; }
.news-date-year { width: 8em; }
.news-txt {}
@media (max-width:575.98px) {
	.news-date, .news-date-year {
		opacity: .7;
		font-size: 80%;
		text-transform: uppercase;
	}
}
.home-cell {
	padding: 0;
}
.home-wrap {
	padding: 4px;
	border: 1px solid rgba(0,0,0,.2);
	margin: 4px;
}
.home-thumb {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.home-cell .screen {
	padding: 8px;
	padding-bottom: 12px;
}
.home-cell .title:link, .home-cell .title:visited {
	color: #ddd;
}
.home-cell .title:hover {
	color: white;
}
.home-cell .part.mr {
	margin-right: 0;
	margin-bottom: .8em;
}
.home-author {
	line-height: 1.2;
}
.home-cell .author {
	font-size: 90%;
	color: #cc8;
}
.home-col {
	margin-top: 20px;
}
@media (max-width:767.98px){
	.home-col:not(:first-child) {
		margin-top: 20px;
	}
}
.inria {
	color: #8C1515;
	font-weight: 500;
	text-transform: uppercase;
}
a .inria:hover {
	color: #D03030;
}
.athena {
	color: #10069F;
	font-weight: 500;
}
.iarai {
	color: #45556E;
	font-weight: 500;
}
.home-footer {
	background-color: #878681;
}


/* cv */
/* ----------------------------------------------------------*/

@media (max-width:575.98px){
	#cv main {
		padding-left: 10px;
		padding-right: 10px;
	}
}
.cv-body {
	margin-bottom: 8px;
}
h1.cv {
	margin-top: 25px;
	margin-bottom: 20px;
}
.cv-row, .cv-row-thin {
	margin-bottom: 15px;
}
@media (min-width:576px) {
	.cv-row {margin-bottom: 15px}
	.cv-row-thin {margin-bottom: 2px}
}
.cv-year-col {
	width: 8em;
}
.cv-year, .cv-title {
	font-size: 18px;
	margin-bottom: 5px;
}
@media (max-width:575.98px) {
	.cv-year {
		opacity: .7;
		font-size: 80%;
		text-transform: uppercase;
	}
}
.cv-ref {
	opacity: .8;
	font-size: 12px;
}
.cv-detail {
	font-size: 14px;
	margin-top: 10px;
	margin-left: 20px;
}
@media (min-width:576px){
	.cv-detail {margin-left:30px}
}


/* pub */
/* ----------------------------------------------------------*/

@media (max-width:575.98px){
	#pub main {
		padding-left: 5px;
		padding-right: 5px;
	}
}
h1.pub {
	margin-top: 40px;
	margin-bottom: 20px;
}
h2.pub {
	margin-top: 20px;
	margin-bottom: 10px;
}
.pub-entry {
	margin-left: 15px;
}
@media (min-width:768px){
	.pub-entry {margin-left:30px}
}
.pub-title {
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 2px;
}
.pub-body, .pub-author {
	margin-bottom: 8px;
}
.pub-ref {
	opacity: .7;
	font-size: 14px;
}
.pub-ref .pub-ref {
	margin-top: 8px;
}
.pub-bib {}
.pub-detail {
	font-size: 14px;
	margin-top: 20px;
	margin-left: 20px;
}
@media (min-width:576px){
	.pub-detail {margin-left:30px}
}
.pub-detail img {
	margin-bottom: 20px;
	width: 600px;
	max-height: 400px;
	object-fit: contain;
	object-position: 0 0;
}
@media (max-width:882px){  /* (600 width + 135 margin) * 1.2 sidenav */
	.pub-detail img { width: 100%; }
}
#pub .part {
	display: inline;
}
.cite {
	font-size: 80%;
}


/* timeline*/
/* ----------------------------------------------------------*/

@media (max-width:575.98px){
	#time main {
		padding-left: 10px;
		padding-right: 10px;
	}
}
h1.time {
	margin-top: 25px;
	margin-bottom: 10px;
}
.t-member { background-color: rgba(100,100, 60,.3); }
.t-job    { background-color: rgba(240, 20, 20,.3); }
.t-teach  { background-color: rgba(240,100,  0,.3); }
.t-talk   { background-color: rgba(180,  0,120,.3); }
.t-phd    { background-color: rgba(120, 60,  0,.3); }
.t-msc    { background-color: rgba(120, 60,  0,.3); }
.t-eu     { background-color: rgba( 20,140, 20,.3); }
.t-fr     { background-color: rgba( 20,140, 20,.3); }
.t-el     { background-color: rgba( 20,140, 20,.3); }
.t-act    { background-color: rgba(120, 20,200,.3); }
.t-jury   { background-color: rgba(120, 20,200,.3); }
.t-adv    { background-color: rgba(120, 20,200,.3); }
.t-eval   { background-color: rgba(120, 20,200,.3); }
.t-edit   { background-color: rgba(120, 20,200,.3); }
.t-conf   { background-color: rgba(120, 20,200,.3); }
.t-work   { background-color: rgba(120, 20,200,.3); }
.t-pub    { background-color: rgba(  0, 80,200,.3); }
.t-code   { background-color: rgba(200,200,  0,.3); }
.t-app    { background-color: rgba(200,200,  0,.3); }
.t-bin    { background-color: rgba(200,200,  0,.3); }
.t-data   { background-color: rgba( 50,250, 50,.3); }

a.t-member:hover { background-color: rgba(100,100, 60,.6); }
a.t-job:hover    { background-color: rgba(240, 20, 20,.6); }
a.t-teach:hover  { background-color: rgba(240,100,  0,.6); }
a.t-talk:hover   { background-color: rgba(180,  0,120,.6); }
a.t-phd:hover    { background-color: rgba(120, 60,  0,.6); }
a.t-msc:hover    { background-color: rgba(120, 60,  0,.6); }
a.t-eu:hover     { background-color: rgba( 20,140, 20,.6); }
a.t-fr:hover     { background-color: rgba( 20,140, 20,.6); }
a.t-el:hover     { background-color: rgba( 20,140, 20,.6); }
a.t-act:hover    { background-color: rgba(120, 20,200,.6); }
a.t-jury:hover   { background-color: rgba(120, 20,200,.6); }
a.t-adv:hover    { background-color: rgba(120, 20,200,.6); }
a.t-eval:hover   { background-color: rgba(120, 20,200,.6); }
a.t-edit:hover   { background-color: rgba(120, 20,200,.6); }
a.t-conf:hover   { background-color: rgba(120, 20,200,.6); }
a.t-work:hover   { background-color: rgba(120, 20,200,.6); }
a.t-pub:hover    { background-color: rgba(  0, 80,200,.6); }
a.t-code:hover   { background-color: rgba(200,200,  0, 1); }
a.t-app:hover    { background-color: rgba(200,200,  0, 1); }
a.t-bin:hover    { background-color: rgba(200,200,  0, 1); }
a.t-data:hover   { background-color: rgba( 50,250, 50, 1); }


/* buttons */
/* ----------------------------------------------------------*/

.but {
	border-radius: 5px;
	padding: 2px 6px;
}
.pill {
	color: white;
	border-radius: 3px;
	padding: 1px 5px;
}
a.but:link, a.but:visited, a.pill:link, a.pill:visited  {
	color: inherit;
	text-decoration: none;
	border-bottom: none;
}
a.inv:hover {
	color: white;
}
.empty {
	border-style: solid;
	border-width: 1px;
	border-color: #a0a0a0;
}
.acro {
	background-color: #e0e0e0;
}
a.acro:hover {
	color: white;
	background-color: #707070;
}
.xtra {
	background-color: #f0f0a0;
}
a.xtra:hover {
	background-color: #e0e090;
}
